header {
  height: 10vh;
  background-color: $blue;
  color: #fff;

  width: 100%;
  @media (max-width: 800px) { 
    height: 20vh;
 }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    @media (max-width: 800px) { 
      padding:2% 0;
      flex-direction: column;
      align-self: center;
      width:90%;
   }
  }
  .menu-toggle {
    display: none;
  }

  .logo {
    font-family: "Josefin Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    color: #fff;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 70%;
    @media (max-width: 600px) { 
      width:90%;
   }

    .nav__link {
      color: #fff;
      width: fit-content;
      font-family: Aleo;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
    }
  }
}
