.review {
  width: 100%;
  background: url("../images/review.png") no-repeat center;

  &__headline {
    color: #ffffff;
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    padding: 5% 0;
  }

  &__field {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 5%;
    @media (max-width: 800px) { 
        flex-direction: column;
     }
    
    .field__picture {
      background: url("../images/rev.png") no-repeat center;
      background-size: cover;
      width: 40%;
      height: 284px;
      @media (max-width: 800px) { 
        width:80%;
        margin: 0 auto;
     }
    }
    .comment {
      display: flex;
      flex-direction: column;
      width: 60%;
      background-color: #333333;
      padding-left: 5%;
      @media (max-width: 800px) { 
        width:80%;
        margin: 0 auto;
     }
      
      &__name {
          padding:5% 0;
        color: #fefefe;
        font-family: "Josefin Sans";
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        text-transform: uppercase;
      }

      &__text {
        color: #e8e8e8;
        font-family: "Josefin Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;

        .fa-quote-left {
          color: #5474fd;
        }
      }
    }
  }
}
